
.box{
    width: 600px;
    height: 500px;
    background: #CCC;
    overflow: hidden;
  }
.box img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }
  .caja{
    width: 200px;
    height:180px;
    background: #CCC;
    overflow: hidden;
  }
.caja img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .caja img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }